{
	"extends": [
		"eslint-config-airbnb",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": [
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jquery": true
	},
	"rules": {
    	"consistent-return": 0,
    	"no-unused-vars": 0,
    	"no-underscore-dangle": 0,
		"no-param-reassign": 0,
		"indent": [ "warn", "tab" ],
		"comma-dangle": [ "warn", "never" ],
		"handle-callback-err": 1,
		"no-console": 0,
		"eol-last": 0,
		"max-len": 0,
		"new-cap": 0,
		"camelcase": 1,
		"semi-spacing": 1,
		"no-trailing-spaces": "warn",
		"no-mixed-spaces-and-tabs": [
			"warn",
			"smart-tabs"
		],
		"quotes": [
			1,
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"semi": [
			"warn",
			"always"
		],
		"keyword-spacing": [
			"warn",
			{
				"before": true,
				"after": true
			}
		],
		"object-curly-spacing": [
			"warn",
			"always"
		],
		"array-bracket-spacing": [
			"warn",
			"always"
		],
		"space-in-parens": [
			"warn",
			"always"
		]
	}
}
