<div id="event">
	<div class="row">

		<div class="top">
			<h2 class="title">Provo</h2>
			<img class="map" src="http://placehold.it/350x350" alt="map">
			<p>
				<a href="/#/event">Sign Up</a>
			</p>
		</div>
		<!--<div class="col s7">-->
			<!--<h4>Places avaliable:</h4>-->

		<!--</div>-->
		<!--<div class="col s5">-->
			<!--<h4>Schedule and Hours</h4>-->
			<!--<h5 class="col s6">-->
				<!--<b>Open Date:</b> 01/01/2000-->
			<!--</h5>-->
			<!--<h5 class="col s6">-->
				<!--<b>Close Date:</b> 02/02/2000-->
			<!--</h5>-->
			<!--<h5>Sunday: 9AM - 5PM</h5>-->
			<!--<h5>Monday: 9AM - 5PM</h5>-->
			<!--<h5>Tuesday: 9AM - 5PM</h5>-->
			<!--<h5>Wednesday: 9AM - 5PM</h5>-->
			<!--<h5>Thursday: 9AM - 5PM</h5>-->
			<!--<h5>Friday: 9AM - 5PM</h5>-->
			<!--<h5>Saturday: 9AM - 5PM</h5>-->
		<!--</div>-->
	</div>
</div>
