@import '../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Heebo:100);

#event {
	.navbar, .footer {
		height: 64px;
		background-color: $primary-gray;
		color: white;
		font-family: 'Heebo', serif;
	}
	.footer {
		padding-top: 10px;
		padding-left: 5%;
	}
	a img {
		height: 30px;
	}
	.row {
		padding: 0;
		margin-bottom: 0;
	}
	.carousel.carousel-slider {
		max-height: 500px;
	}
	.title {
		text-align: center;
		font-family: 'Heebo', serif;
		margin: 0;
		font-weight: 700;
		font-size: 30px;
		color: white;
		padding-top: 15px;
	}


		p {
			font: 14px/23px 'Heebo', sans-serif;
			font-size: 25px;
			margin-bottom: 70px;
		}
	}
	.picture-top {
		background: #efefef;
		height: 100%;
		text-align: center;
	}
	.mid {
		text-align: center;
		.openclose {
			margin-bottom: 40px;
		}
	}
	.bottom {
		background: #efefef;
		background-image: url('http://imgur.com/bvPVKvS');
		text-align: center;
		margin-top: 70px;
		padding-top: 50px;
	}
	a .footer img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}

	.map {
		margin-top: 40px;
		width: 70%;
		max-height: 350px;
	}


	.pictureHeader {
		img {
			width: 100%;
		}
	}

	.detailsRow {

		h5 {
			text-align: left;
			display: inline-block;
			font-weight: bold;
		}
		i {
			text-align: left;
		}

		.location {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			font-size: 1.5em;
			text-align: left;
			font-weight: bold;
		}

		.bio {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
		}

		.website {
			float: right;
			padding-bottom: 20px;
		}
		.schedule {
			.openDayName {
				text-align: left;
				font-weight: bold;
			}
			li {
				width: 80%;
				margin-left: auto;
				margin-bottom: 3px;
				margin-right: auto;
				border: 1px solid rgba(119, 114, 118, 0.46);
			}
		}
	}

	.mapRow {
		.top {
			padding-top: 20px;
		}

		map {
			width: 100px;
		}





}
