@import '../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Heebo:100);

#event {
	.navbar, .footer {
		height: 64px;
		background-color: $primary-gray;
		color: white;
		font-family: 'Heebo', serif;
	}
	.footer {
		padding-top: 10px;
		padding-left: 5%;
	}
	a img {
		height: 30px;
	}
	.row {
		padding: 0;
	}
	.carousel.carousel-slider {
		max-height: 500px;
	}
	.title {
		text-align: center;
		font-family: 'Heebo', serif;
		margin: 0;
		font-weight: 700;
		font-size: 30px;
		color: white;
		padding-top: 15px;
	}
	.top {
		background: #efefef;
		height: 100%;
		padding-top: 40px;
    margin-bottom: 60px;
    text-align: center;

		p {
			font: 14px/23px 'Heebo', sans-serif;
			font-size: 25px;
			margin-bottom: 70px;
		}
	}
	.picture-top {
		background: #efefef;
		height: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
	}
	.mid {
		text-align: center;
		.openclose {
			margin-bottom: 40px;
		}
	}
	.bottom {
		background: #efefef;
		background-image: url('http://imgur.com/bvPVKvS');
		text-align: center;
		margin-top: 70px;
		padding-top: 50px;
	}
	a .footer img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}
	.eventPhoto {
		text-align: center;
		margin-top: 5%;
		// margin-bottom: 5%;
	}
	.map {
		margin-top: 40px;
		width: 70%;
		max-height: 350px;
	}
}
