<div>
	<side-nav adminPanel="false"></side-nav>
	<div class="checkoutContainer">

		<div class="cart container">
			<h4>Checkout</h4>
			<div>
				<div class="cart.text row">
					<div class="col s3 cart-name">
						User
					</div>
					<div class="col s5 cart-info">
						Checkout Info
					</div>
				</div>
			</div>

			<div>
				<div class="cart-text row">
					<div class="col s3 cart-name">
						Booth #
					</div>
					<div class="col s5 cart-info">
						Checkout Info
					</div>
				</div>
			</div>

			<div>
				<div class="cart-text row">
					<div class="col s3 cart-name">
						Market
					</div>
					<div class="col s5 cart-info">
						Checkout Info
					</div>
				</div>
			</div>

			<div>
				<div class="cart-text row">
					<div class="col s3 cart-name">
						Price
					</div>
					<div class="col s5 cart-info">
						Checkout Info
					</div>
				</div>
			</div>

			<div>
				<div class="cart-text row">
					<div class="col s3 cart-name">
						Date
					</div>
					<div class="col s5 cart-info">
						Checkout Info
					</div>
				</div>
			</div>

			<div>
				Total:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div class="center">
				<button class="btn blue">Create Market</button>
			</div>

		</div>

		<div class="col s3">
			<h5>*This information can be changed in your account afterward.</h5>
		</div>

	</div>
</div>
