<div>
	<side-nav adminPanel="false"></side-nav>
	<div class="checkout">

		<div class="checkout.cart">
			<h4>Checkout</h4>

			<div>
				Name:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div>
				Booth #:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div>
				Market:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div>
				Price:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div>
				Date:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div>
				Total:
				<div class="checkout.cart.text">Checkout Info</div>
			</div>

			<div class="center">
				<button class="btn blue">Create Market</button>
			</div>

		</div>

		<div class="col s3">
			<h5>*This information can be changed in your account afterward.</h5>
		</div>

	</div>
