<div class="sideNav">

	<nav class="sideNav-top hide-on-med-and-up">
		<div class="nav-wrapper">
			<!--Logo on Small-->
			<img src="http://placehold.it/150x150" href="#"
				 class="sideNav-logo brand-logo brand-logo-small center">
			<!--Sidebar btn-->
			<a href="#" data-activates="mobile-nav" class="button-collapse sideNav-hamb">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>

		</div>
	</nav>

	<ul class="side-nav sideNav-side" id="mobile-nav">

		<div class="admin-ribbon ar-sticky">Admin</div>
		<li class="sideNav-logo-mobile-container">
			<img class="sideNav-logo-mobile"
				 src="http://placehold.it/200x200"
			>
		</li>

		<li class="sideNav-item">
			<a class="nav-items-mobile" ui-sref="createEvent">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Create Event
			</a>
			<a class="nav-items-mobile" ui-sref="createEvent" ng-if="event">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Edit Event
			</a>
		</li>

		<li class="sideNav-item">
			<a class="nav-items-mobile">
				<i class="fa fa-user" aria-hidden="true"></i>
				Manage Users
			</a>
		</li>

		<li class="sideNav-item">
			<a class="nav-items-mobile">
				<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
				View Transactions
			</a>
		</li>

	</ul>

</div>
