<div id="stepOne">

	<form>

		<div class="col s10 new-map-title">
			<h4 id="company-title">New Map
				<hr class="divider">
			</h4>
		</div>

		<div class="map-row">
		<div class="input-field col s3">
			<input id="name" ng-model="vm.mapName" type="text" class="validate">
			<label for="name">Title</label>
		</div>

		<div class="col s3 input-field">
			<select ng-model="vm.mapSize"
					id="map-options"
					class="selectOne"
					ng-options="size.value as size.display for size in vm.sizes"
			>
			</select>
		</div>

		<div class="imageUpload input-field center col s3">
			<button ng-click="vm.addPicture()"></button>
		</div>
		</div>

	</form>
</div>
