<div id="user">
	<side-nav adminPanel="false"></side-nav>
	<div class="UserHomeContainer" ng-show="!welcome">

		<div class="welcome-message container">
			<div class="mark">
				<img id="mark-photo" ng-src="{{ vm.markPhoto }}" alt="Spot Assign Mark" ng-show="vm.markPhoto">
			</div>
			<h3>Welcome to Spot Assign!</h3>
			<h6>There are a few things that you should know to get started.</h6>
			<div class="pointers">

				<ol>
					<li>To create an event, click "Create Event" and fill out the necessary fields.</li>
					<li>When you create an event you will be taken to a different dashboard where you will be able to access all your event information including user, payment, and map information.</li>
					<li>To find events or event information you can use the "Find Event" page.</li>
				</ol>
			</div>

			<div class="row">
				<a ui-sref="createEvent"><div class="col s3 feature-box center">
					<img class="user-icons" src="{{ vm.createEvent }}" alt="">
					<!-- <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i> -->
					<h5 class="button-header">Create Event</h5>
				</div></a>
				<a ui-sref="userFindEvent"><div class="col s3 offset-s1 feature-box center">
					<!-- <i class="fa fa-ticket fa-5x" aria-hidden="true"></i> -->
					<img class="user-icons" src="{{ vm.findEvent }}" alt="">
					<h5 class="button-header">Find Event</h5>
				</div></a>
				<a ui-sref="user"><div class="col s3 offset-s1 feature-box center">
					<!-- <i class="fa fa-share-alt fa-5x" aria-hidden="true"></i> -->
					<img class="user-icons" src="{{ vm.inviteFriends }}" alt="">
					<h5 class="button-header">Invite Friends</h5>
				</div></a>
			</div>
		</div>

		<div class="event" ng-show="currentUser.markets.length > 1">
			<user-spots></user-spots>
			<rental-history></rental-history>
		</div>

	</div>
</div>
