@import '../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,800);


#userHome {

	.UserHomeContainer {
		margin-top: 50px;
		margin-left: 300px;
		font-family: 'Raleway', serif;
	}
	.welcome-message h6, ol {
		// margin-left: 5%;
		font-size: 20px;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		list-style-position: inside;
		padding-left: 0;
	}
	.button-header {
		font-size: 20px;
	}
	.welcome-message h3 {
		font-weight: bold;
	}
	.welcome-message {
		.mark {
			// text-align: center;
			#mark-photo {
				height: 350px;
				position: fixed;
				right: 0;
				bottom: 0;
				overflow: hidden;
				// left: 80%;
				// top: 40%;
			}
		}
		margin-left: 8% !important;
	}
	.welcome-message h6 {
		color: #999999;
	}
	.row {
		.feature-box {
			margin-top: 10%;
			// border: 1px solid black;
			border-radius: 25px;
			padding-top: 10px;
		}
		.feature-box:hover {
			background-color: #DCDCDC;
			border: 1px solid #DCDCDC;
			cursor: pointer;
		}
		a {
			color: inherit;
		}
		.user-icons {
			height: 150px;
		}
	}
	.pointers {
		margin-top: 8%;
	}
	.welcome-message h3 {
		// text-align: center;
	}
}


@media ( max-width:600px ) and (min-width: 300px)  {
    .UserHomeContainer {
        margin-left: auto;
        margin-right: auto;
    }
}



@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);
