.side-nav-space {
	 margin-left: 350px;
	 .dash-icon {
		 position: relative;
		 top: 3px;
	 }
	 h4 {
		 margin-top: 8%;
		 margin-bottom: 5%;
		 text-transform: uppercase;
		 font-size: 20px;
	 }
	 #company-title {
		 margin-top: 5%;
	 }
	  .action-button {
		 height: 3rem;
		 border: 1px solid #f2f2f2;
		 padding: 5px;
		 border-radius: 2px;
		 width: 100%;
		 background-color: rgba( 255, 255, 255, 0.9 );
	 }
	 .divider {
		position: relative;
		width: 80%;
		right: 10%;
		height: 1px;
		background-color: #383838;
		border: #383838;
	 }
	 .calendar-header {
		 font-weight: bold;
		 position: relative;
		 top: 22px;
	 }
}
@media ( max-width:600px ) and (min-width: 300px)  {
	 .side-nav-space {
			 margin-left: auto;
			 margin-right: auto;
	 }
}
.days-of-the-week {
	line-height: 9px;
	.day {
		font-weight: thin;
	}
	.to {
		text-align: center;
	}
}
