<div>
	<side-nav admin-panel="true"></side-nav>
	<div class="row side-nav-space">
		<div class="col s12">


			<h4 id="company-title"><i class="material-icons dash-icon">business</i> Event Information <hr class="divider"></h4>
			<h6>Name: {{ vm.event.name }} </h6>

			<h6>Location: {{ vm.event.location.city }}, {{ vm.event.location.state }} </h6>

			<h6>Bio: {{ vm.event.bio }} </h6>

			<h6>Payment Email: {{ vm.event.paymentInfo }}</h6>

			<h6>Photo: <br><img class="dashboard-event-photo" src="{{ vm.event.photo }}" alt="Your Event Photo"></h6>

			<h6>Event URL: <a ui-sref="event({ name: vm.event.name })">http://www.spotassign.com/event/{{ vm.event.name }}</a></h6>

			<h4><i class="material-icons dash-icon">place</i> Your Event Map <hr class="divider"></h4>
			<div class="event-map" ng-show="vm.stateParams.map ? vm.stateParams.map : vm.map"><map map="vm.stateParams.map ? vm.stateParams.map : vm.map"></map></div>

			<h4><i class="material-icons dash-icon">schedule</i> Schedule and Hours <hr class="divider"></h4>



			<div class="row">
				<time-picker></time-picker>
			</div>

		</div>
	</div>





</div>
