.side-nav-space {
	 margin-left: 350px;
	 .dash-icon {
		 position: relative;
		 top: 5px;
	 }
	 h4 {
		 margin-top: 8%;
		 margin-bottom: 5%;
	 }
}
@media ( max-width:600px ) and (min-width: 300px)  {
	 .side-nav-space {
			 margin-left: auto;
			 margin-right: auto;
	 }
}
.days-of-the-week {
	line-height: 9px;
	.day {
		font-weight: bold;
	}
	.to {
		text-align: center;
	}
}
