<div>
	<side-nav admin-panel="true"></side-nav>
	<div class="row side-nav-space">
		<div class="col s12">
			<h4>Company Information</h4><hr>
				<h6>Name: {{ vm.name }}</h6>
				<h6>Location: {{ vm.location }}</h6>
				<h6>Bio: {{ vm.bio }}</h6>
				<h6>Photo: {{ vm.photo }}</h6>

			<h4>Your Map</h4><hr>
			<img src="http://placehold.it/450x250"/>
			<h4>Schedule and Hours</h4><hr>


			<div class = "col s12">
				<div class = "col s3">
					<h6>Open Date</h6>
					<calendar date="vm.openDate"></calendar>
				</div>
				<div class = "col s3 offset-s1">
					<h6>Close Date</h6>
					<calendar date="vm.closeDate"></calendar>
				</div>
			</div>

			<div class = "col s12 days-of-the-week">

			<div class = "row">
			<p class="col s2 day">Sunday:</p>
			<time-picker hours="vm.sunHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.sunHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Monday:</p>
			<time-picker hours="vm.monHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.monHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Tuesday:</p>
			<time-picker hours="vm.tueHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.tueHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Wednesday:</p>
			<time-picker hours="vm.wedHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.wedHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Thursday:</p>
			<time-picker hours="vm.thurHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.thurHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Friday:</p>
			<time-picker hours="vm.friHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.friHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>

			<div class = "row">
			<p class="col s2 day">Saturday:</p>
			<time-picker hours="vm.satHours1" class="col s3"></time-picker>
			<p class="col s1 to">to</p>
			<time-picker hours="vm.satHours2" class="col s3"></time-picker>
			<div class= "col s1">
			<button>Edit</button>
			<button>Save</button>
			</div>
			</div>


			</div>
		</div>
	</div>





</div>
