@import '../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

.home-body {
	color: $secondary-gray;
	min-height: calc(87vh - 30px);
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
	.row {
		margin: 20px !important;
		display: block;
		.slides {
			.home-photo {
			}
		}
	}
	@media screen and ( max-width: 600px ) {
		.feature-box {
			width: 100% !important;
			margin: 0 auto !important;
			margin-top: 10% !important;
		}
		.caption {
			width: 100% !important;
			margin: 0 auto !important;
		}
		.slides li .caption {
			left: 25% !important;
		}
	}
	.feature-box {
		margin-top: 5%;
	}
	.slider {
		.slides li .caption {
			top: 9%;
			left: 33%;
		}
		.start-now-button {
			margin-top: 7%;
		}
	}
	li.indicator-item {
		height: 10px !important;
		width: 10px !important;
	}
	li.indicator-item.active {
		background-color: $primary-orange !important;
	}
	.tagline {
		margin-top: 10%;
	}
	.fa-desktop, .fa-map-marker, .fa-credit-card-alt  {
		color: $secondary-gray;
	}
	
}
.footer {
	height:30px;
	line-height: 0px;
}
.wrapper {
	height: 100%
}
// * { border: 1px solid red; }