<div>
	<navbar></navbar>

		<div class="row">
			<div class="col s8">
				<img src="http://placehold.it/750x450">
			</div>
			<div class="col s4">
				<h4>The best way to help your customers comfortably find their spots.</h4>
				<div class="center">
					<a ui-sref="createEvent">
						<button class="btn blue">Start Now</button>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s2 offset-s1 feature-box">
				<h5>Easy-to-use drag & drop editor</h5>
			</div>
			<div class="col s2 offset-s2 feature-box">
				<h5>Create custom map for any spots</h5>
			</div>
			<div class="col s2 offset-s2 feature-box">
				<h5>They pay, you get paid</h5>
			</div>
		</div>
</div>
