<div id="userFindEvent">
	<side-nav adminPanel="false"></side-nav>

	<div class="userFindEventContainer">
		<div class="row">
			<div class="col s10">
				<h4 id="company-title">Find an Event
					<hr class="divider">
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m8 offset-m1">
				<div class="col s2">
					<h6>Search:</h6>
				</div>
				<div class="input-field col s5">
								<input id="title" type="text" class="validate" ng-model="search.title">
								<label for="title">Name</label>
						</div>
				<div class="input-field col s5">
								<input id="location" type="text" class="validate" ng-model="search.location">
								<label for="location">Location</label>
						</div>
			</div>
		</div>

		<div class="row">
			<ul class="collapsible col s14 m10" data-collapsible="accordion">

				<li ng-repeat="mkt in vm.markets | filter:search" title="Click for market details">
					<div class="collapsible-header">
						<ul class="collapsible-centering">
							<li class="MktInfo"><strong>Name:</strong> {{mkt.title}}</li>
							<li class="MktInfo"><strong>Contact:</strong> {{mkt.contact}}</li>
							<li class="MktInfo"><strong>Phone:</strong> {{mkt.phone}}</li>
							<li class="MktInfo"><img class="MktImage" ng-src="{{mkt.image}}" /></li>
						</ul>
					</div>
					<div class="collapsible-body">
						<strong>City/State:</strong> {{mkt.location}}<p>
						<strong>Description:</strong> {{mkt.desc}}</p>
					</div>
	</div>
	</div>
</div>
