@import '../../styles/colors';

#userFindEvent {
	.userFindEventContainer {
		margin-left: 350px;
	}
	@media ( max-width:600px ) and (min-width: 300px)  {
		 .userFindEventContainer {
				 margin-left: auto;
				 margin-right: auto;
		 }
	}

	.MktInfo {
		margin-right: 10%;
		display: inline;
		text-justify: newspaper;
	}
	.collapsible-centering {
		text-align: justify;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.collapsible-body {
	
		.eventImgDiv {
			float: left;
			width: 50%;
			height:200px;

			.eventImg {
				max-height: 180px;
				max-width: 90%;
				margin-top: 20px;
			}
		}

		#eventTitle {
			padding-top: 20px;
			font-size: 1.5em;
			font-weight: bolder;
		}

		#eventDescription {
			margin-left: 10px;
			line-height: 0.95em;
			font-size: 1.1em;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
		}

		#eventContact {
			font-size: 0.9em;
		}

		#eventLink {
			float: right;
			font-size: 1.2em;
		}


	}
}
