<div id="timePicker">


	<!--How often does this event occur?-->
	<div class="setDOO" ng-show="vm.chooseFreq">
		<h5>How often does this event occur?</h5>
		<select class="browser-default" ng-model="freq">
			<option ng-value="" disabled selected>Select Option</option>
			<option value="once">Once</option>
			<option value="monthly">Monthly</option>
			<option value="weekly">Weekly</option>
		</select>
		<a class="waves-effect waves-light btn right-align-button" ng-click="vm.eventOccurFreq(freq)">NEXT</a>
	</div>

	<!--Once on-->
	<div class="setDOO" ng-show="vm.once">
		<h5>Once on..</h5>
		<label></label>
		<input type="date" class="datepicker" ng-model="once.date">
		<div class="row">
			<div class="col s5">
				<div class="input-feild col s12">
					<label class="col s12">Open</label>
					<select class="browser-default col s6" ng-model="once.open.hour">
					   <option value="" disabled selected>Hour</option>
					   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
					 </select>
					 <select class="browser-default col s6" ng-model="once.open.minute">
					   <option value="" disabled selected>Minute</option>
					   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
					 </select>
				</div>
			</div>
			<div class="col s5">
				<div class="input-feild col s12">
					<label class="col s12">Close</label>
					<select class="browser-default col s6" ng-model="once.close.hour">
					   <option value="" disabled selected>Hour</option>
					   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
					 </select>
					 <select class="browser-default col s6" ng-model="once.close.minute">
					   <option value="" disabled selected>Minute</option>
					   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
					 </select>
				</div>
			</div>
		</div>
		<a class="waves-effect waves-light btn right-align-button" ng-click="vm.saveOnceEvent(once)">Save</a>
	</div>

	<!--Monthly On-->
	<div class="setDOO row" ng-show="vm.monthly">
		<h5>Monthly on...</h5>
		<select class="browser-default col s5" name="" ng-model="Monthly.repeat.number">
			<option value="first">First</option>
			<option value="second">Second</option>
			<option value="third">Third</option>
			<option value="fourth">Fourth</option>
		</select>
		<select class="browser-default col s5" name="" ng-model="Monthly.repeat.day">
			<option value="Mon">Monday</option>
			<option value="Tue">Tuesday</option>
			<option value="Wed">Wednesday</option>
			<option value="Thur">Thursday</option>
			<option value="Fri">Friday</option>
			<option value="Sat">Saturday</option>
			<option value="Sun">Sunday</option>
		</select>
		<div class="col s5">
			<div class="input-feild col s12">
				<label class="col s12">Open</label>
				<select class="browser-default col s6" ng-model="Monthly.repeat.open.hour">
				   <option value="" disabled selected>Hour</option>
				   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
				 </select>
				 <select class="browser-default col s6" ng-model="Monthly.repeat.open.minute">
				   <option value="" disabled selected>Minute</option>
				   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
				 </select>
			</div>
		</div>
		<div class="col s5">
			<div class="input-feild col s12">
				<label class="col s12">Close</label>
				<select class="browser-default col s6" ng-model="Monthly.repeat.close.hour">
				   <option value="" disabled selected>Hour</option>
				   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
				 </select>
				 <select class="browser-default col s6" ng-model="Monthly.repeat.close.minute">
				   <option value="" disabled selected>Minute</option>
				   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
				 </select>
			</div>
		</div>
		<a class="waves-effect waves-light btn right-align-button">NEXT</a>
	</div>

	<!--Weekly On-->
	<div class="setDOO" ng-show="vm.weekly">
		<h5>What are your days of operation?</h5>
		<div class="allDaysCheckboxes">
			<div class="dayCheckbox">
				<input type="checkbox" id="Monday" ng-model="Monday.value"/>
				<label for="Monday">Monday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Tuesday" ng-model="Tuesday.value"/>
				<label for="Tuesday">Tuesday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Wednesday" ng-model="Wednesday.value"/>
				<label for="Wednesday">Wednesday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Thursday" ng-model="Thursday.value"/>
				<label for="Thursday">Thursday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Friday" ng-model="Friday.value"/>
				<label for="Friday">Friday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Saturday" ng-model="Saturday.value"/>
				<label for="Saturday">Saturday</label>
			</div>
			<div class="dayCheckbox">
				<input type="checkbox" id="Sunday" ng-model="Sunday.value"/>
				<label for="Sunday">Sunday</label>
			</div>
			<a class="waves-effect waves-light btn right-align-button" ng-click="weeklyHours=true; vm.weekly=false">NEXT</a>
		</div>
	</div>

	<!--Weekly Hours of Operation-->
	<div class="setDOO" id="HOO" ng-show="weeklyHours">
		<h5>What are your hours of operation?</h5>
		<div class="daysSelected">

			<div class="setHours" ng-show="Monday.value">
				<div ng-init="Monday.name = 'Monday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							MONDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Monday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Monday.open.minute">
 								   <option value="" disabled selected>Minute</option>
 								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
 								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Monday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Monday.close.minute">
 								   <option value="" disabled selected>Minute</option>
 								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
 								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Tuesday.value">
				<div ng-init="Tuesday.name = 'Tuesday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							TUESDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Tuesday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Tuesday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Tuesday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Tuesday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Wednesday.value">
				<div ng-init="Wednesday.name = 'Wednesday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							WEDNESDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Wednesday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Wednesday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Wednesday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Wednesday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Thursday.value">
				<div ng-init="Thursday.name = 'Thursday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							THURSDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Thursday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Thursday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Thursday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Thursday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Friday.value">
				<div ng-init="Friday.name = 'Friday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							FRIDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Friday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Friday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Friday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Friday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Saturday.value">
				<div ng-init="Saturday.name = 'Saturday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							SATURDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Saturday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Saturday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Saturday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Saturday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setHours" ng-show="Sunday.value">
				<div ng-init="Sunday.name = 'Sunday'"></div>
				<div class="dayOpenClose">
					<div class="row">
						<div class="col s2 dayName">
							SUNDAY:
						</div>
						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Open</label>
								<select class="browser-default col s6" ng-model="Sunday.open.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Sunday.open.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>

						<div class="col s5">
							<div class="input-feild col s12">
								<label class="col s12">Close</label>
								<select class="browser-default col s6" ng-model="Sunday.close.hour">
								   <option value="" disabled selected>Hour</option>
								   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
								 </select>
								 <select class="browser-default col s6" ng-model="Sunday.close.minute">
								   <option value="" disabled selected>Minute</option>
								   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
								 </select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<a class="waves-effect waves-light btn right-align-button" ng-click="vm.saveSchedule( [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday] ); weeklyHours = false">SAVE</a>
		</div>
	</div>

	<!-- Add Holidays -->
	<div class="setDOO" ng-show="vm.addHolidays">
		<h5>Are you closed on holidays?</h5>
		<div class="row">
			<input class="holidaySearch col s8" placeholder="Search by Holiday Name" type="text" name="name" ng-model="search">
			<div class="col s4">
				<label class="">Month</label>
				<select class="browser-default" ng-model="month">
				   <option ng-value="" disabled selected>Select Month</option>
				   <option value="2016-01">January</option>
				   <option value="2016-02">February</option>
				   <option value="2016-03">March</option>
				   <option value="2016-04">April</option>
				   <option value="2016-05">May</option>
				   <option value="2016-06">June</option>
				   <option value="2016-07">July</option>
				   <option value="2016-08">August</option>
				   <option value="2016-09">September</option>
				   <option value="2016-10">October</option>
				   <option value="2016-11">November</option>
				   <option value="2016-12">December</option>
				 </select>
			</div>
		</div>
		<div class="holidaysContainer row" >
			<div class="holidaysRepeat" ng-repeat="holiday in vm.holidays">
				<ul>
					<li class="col s12" ng-repeat="hol in holiday | filter : {name: search, date: month}" ng-show="search || month">
						<div class="">
							<div class="col s10">
								<div class="holidayName">
									{{hol.name}}
								</div>
								<div class="holidayDate">
									{{hol.date | date : short}}
								</div>
							</div>
							<a class="btn-floating btn-large waves-effect waves-light red s2"><i class="material-icons" ng-click="vm.addObservedHoldiay(hol)">add</i></a>
						</div>
					</li>
				</ul>
			</div>
			<a class="waves-effect waves-light btn right-align-button" ng-click="vm.addHolidays = false">DONE</a>
		</div>
	</div>


	<!--Open Times and Closed Times- Weekly-->
	<div class="setDOO" ng-show="vm.weeklySetSchedule">
		<div class="showBusinessSchedule">
			<h5>Open</h5>
			<ul>
				<li class="row" ng-repeat="openDay in vm.openOn">
					<div class="">
						<div class="">
							<div class="openDayName col s5">
								{{openDay.name | uppercase }}
							</div>
							<div class="dayHours col s5">
								<b>OPEN:</b>   {{openDay.open.hour}}:{{openDay.open.minute}}
								<b>CLOSE:</b>   {{openDay.close.hour}}:{{openDay.close.minute}}
							</div>
							<div class="col s2">
								<a class="waves-effect waves-light btn edit" ng-click="editDay = true"><i class="material-icons">mode_edit</i></a>
							</div>
						</div>
					</div>
					<div class="col s12" ng-show="editDay">
						<div class="row">
							<hr>
							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Open</label>
									<select class="browser-default col s6" ng-model="openDay.open.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="openDay.open.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Close</label>
									<select class="browser-default col s6" ng-model="openDay.close.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="openDay.close.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

						</div>
						<div class="">
							<!-- <a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false"><i class="material-icons">delete_forever</i></a> -->
							<a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false; vm.editSchedule(openDay)"><i class="material-icons">save</i></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="showBusinessSchedule">
		<div class="row">
			<div class="col s6">
				<h5>Observed Holidays</h5>
			</div>
			<div class="col s6">
				<a class="waves-effect waves-light btn addHolidayInWeeklyBtn" ng-click="vm.addHolidays = true;"><i class="material-icons">add</i></a>
			</div>
		</div>
			<ul>
				<li class="row" ng-repeat="closedDay in vm.closedDates">
					<div class="col s5 closedDayName">
						{{closedDay.name | uppercase}}
					</div>
					<div class="col s5 closedDayDate">
						{{closedDay.date | date : short | uppercase}}
					</div>
					<div class="col s2">
						<a class="waves-effect waves-light btn deleteHoliday" ng-click="vm.deleteHoliday(closedDay)"><i class="material-icons">delete_forever</i></a>
					</div>
				</li>
			</ul>
		</div>

	</div>


	<!--ONCE TIME SCHEDULE-->
	<div class="setDOO" ng-show="vm.onceSchedule">
		<div class="showBusinessSchedule" ng-show="vm.onceSchedule">
			<h5>Open</h5>
			<ul>
				<li class="row">
					<div class="">
						<div class="">
							<div class="openDayName col s5">
								{{ vm.openOn.date | date : short }}
							</div>
							<div class="dayHours col s5">
								<b>OPEN:</b>   {{vm.openOn.hours[0].open.minute}}:{{vm.openOn.hours[0].open.minute}}
								<b>CLOSE:</b>
								{{vm.openOn.hours[0].close.hour}}:{{vm.openOn.hours[0].close.minute}}
							</div>
							<div class="col s2">
								<a class="waves-effect waves-light btn edit" ng-click="editDay = true"><i class="material-icons">mode_edit</i></a>
							</div>
						</div>
					</div>
					<div class="col s12" ng-show="editDay">
						<div class="row">
							<hr>
							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Open</label>
									<select class="browser-default col s6" ng-model="vm.openOn.hours[0].open.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="vm.openOn.hours[0].open.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Close</label>
									<select class="browser-default col s6" ng-model="vm.openOn.hours[0].close.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="vm.openOn.hours[0].close.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

						</div>
						<div class="">
							<!-- <a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false"><i class="material-icons">delete_forever</i></a> -->
							<a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false; vm.editSchedule(vm.openOn)"><i class="material-icons">save</i></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!--MONTHLY TIME SCHEUDLE-->
	<div class="setDOO" ng-show="vm.monthlySchedule">
		<div class="showBusinessSchedule" ng-show="vm.onceSchedule">
			<h5>Open</h5>
			<ul>
				<li class="row">
					<div class="">
						<div class="">
							<div class="openDayName col s5">
								{{ vm.openOn.date | date : short }}
							</div>
							<div class="dayHours col s5">
								<b>OPEN:</b>   {{vm.openOn.hours[0].open.minute}}:{{vm.openOn.hours[0].open.minute}}
								<b>CLOSE:</b>
								{{vm.openOn.hours[0].close.hour}}:{{vm.openOn.hours[0].close.minute}}
							</div>
							<div class="col s2">
								<a class="waves-effect waves-light btn edit" ng-click="editDay = true"><i class="material-icons">mode_edit</i></a>
							</div>
						</div>
					</div>
					<div class="col s12" ng-show="editDay">
						<div class="row">
							<hr>
							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Open</label>
									<select class="browser-default col s6" ng-model="vm.openOn.hours[0].open.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="vm.openOn.hours[0].open.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

							<div class="col s6">
								<div class="input-feild col s12">
									<label class="col s12">Close</label>
									<select class="browser-default col s6" ng-model="vm.openOn.hours[0].close.hour">
									   <option value="" disabled selected>Hour</option>
									   <option ng-repeat="hour in vm.hours" value="{{hour}}">{{hour}}</option>
									 </select>
									 <select class="browser-default col s6" ng-model="vm.openOn.hours[0].close.minute">
									   <option value="" disabled selected>Minute</option>
									   <option ng-repeat="minute in vm.minutes" value="{{minute}}">{{minute}}</option>
									 </select>
								</div>
							</div>

						</div>
						<div class="">
							<!-- <a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false"><i class="material-icons">delete_forever</i></a> -->
							<a class="waves-effect waves-light btn editMarketDayBtn" ng-click="editDay = false; vm.editSchedule(vm.openOn)"><i class="material-icons">save</i></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>



</div>
