<div id="timePicker">
	<select class="browser-default" ng-model="hours">
			<option value="" disabled selected style="display: none;">8 AM</option>
			<option value="12AM">12 AM</option>
			<option value="1AM">1 AM</option>
			<option value="2AM">2 AM</option>
			<option value="3AM">3 AM</option>
			<option value="4AM">4 AM</option>
			<option value="5AM">5 AM</option>
			<option value="6AM">6 AM</option>
			<option value="7AM">7 AM</option>
			<option value="8AM">8 AM</option>
			<option value="9AM">9 AM</option>
			<option value="10AM">10 AM</option>
			<option value="11AM">11 AM</option>
			<option value="1PM">1 PM</option>
			<option value="2PM">2 PM</option>
			<option value="3PM">3 PM</option>
			<option value="4PM">4 PM</option>
			<option value="5PM">5 PM</option>
			<option value="6PM">6 PM</option>
			<option value="7PM">7 PM</option>
			<option value="8PM">8 PM</option>
			<option value="9PM">9 PM</option>
			<option value="10PM">10 PM</option>
			<option value="11PM">11 PM</option>
			<option value="12PM">12 PM</option>
	</select>
</div>
