<div id="userSpots">
	<side-nav adminPanel="false"></side-nav>
	<div class="spotsContainer">
		<div class="row">
			<div class="col s10 offset-s1 m8 offset-m2">
				<ul class="collection with-header">
					<li class="collection-header"><h4>My Spots</h4></li>
					<li class="collection-item">
						<div>Provo - 01/01/2000
							<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
						</div>
					</li>
					<li class="collection-item">
						<div>Provo - 01/01/2000
							<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
						</div>
					</li>

					<li class="collection-item">
						<div>Provo - 01/01/2000
							<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
						</div>
					</li>
					<li class="collection-item">
						<div>Provo - 01/01/2000
							<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
