<div id="createEvent">
	<side-nav admin-panel="true"></side-nav>
	<div class = "side-nav-space">

<logout user="vm.user"></logout>

	<div class="create-event-wrapper row">
		<div class="col s10">
			<h4 id="company-title"><i class="material-icons">event_seat</i> Create your Event<hr class= "divider"></h4>

			<div class="col s12">
				Title:
				<input type="text" ng-model="eventTitle">
			</div>

			<div class="col s12">
				Bio:
				<textarea class="materialize-textarea" ng-model="bio"></textarea>
			</div>

			<div class="col s6">
				City:
				<input type="text" ng-model="city">
			</div>

			<div class="col s6">
				State:
				<input type="text" ng-model="state">
			</div>

			<div>
				<div class="col s12 payment">
					<i class="material-icons lock">lock</i>
				Payment Information:
        <div class="center">

            <form stripe-form="stripeCallback" name="checkoutForm">

							<div class = "col s5">
                <input validate id="card" ng-model="number" placeholder="Card Number" name="card" payments-format="card" payments-validate="card" />
							</div>

							<div class = "col s4">
                <input validate id="expiry" ng-model="expiry" placeholder="Expiration" name="expiry" payments-format="expiry" payments-validate="expiry" />
							</div>

							<div class = "col s2">
								<input validate id="cvc" ng-model="cvc" placeholder="CVC" name="cvc" payments-format="cvc" payments-validate="cvc" />
							</div>

            </form>
        </div>
    </div>

			</div>

			<div class="center">
				<button class="btn create-event-button" type="submit" ng-click="vm.createEvent( eventTitle, bio, city, state )">Create Event</button>
			</div>

		</div>
</div>
</div>
</div>
