<div id="createEvent">

	<side-nav admin-panel="false"></side-nav>

	<div class="side-nav-space">

		<div class="create-event-wrapper row">
			<div class="col s10">
				<h4 id="company-title">Create an Event
					<hr class="divider">
				</h4>

				<div class="row">
					<div class="payment-header">
						<i class="material-icons header-icon" id="event-icon">event</i>
						Event Details
					</div>
					<br>
					<div class="col s6">
						Title:
						<input id="title" type="text" ng-model="vm.event.title">
					</div>
					<div class="imageUpload center col s6">
						<button ng-click="vm.addPicture()" ng-hide="vm.event.photo"></button>
						<img id="event-photo-upload" src="{{ vm.event.photo }}" alt="Event Photo Upload" ng-show="vm.event.photo">
					</div>
				</div>

				<div class="row">
					<div class="col s6">
						Bio:
						<textarea id="bio"
								  class="materialize-textarea"
								  ng-model="vm.event.bio"
						></textarea>
					</div>

					<div class="col s6">
						Website URL:
						<input id="website" type="text" ng-model="vm.event.website">
					</div>
				</div>

				<div class="row">
					<div class="col s6">
						City:
						<input id="city" type="text" ng-model="vm.event.city">
					</div>


					<div class="col s6">
						State:
						<input id="state" type="text" ng-model="vm.event.state">
					</div>
				</div>

				<div>
					<div class="col s12 payment">
						<div class="payment-header">
							<i class="material-icons header-icon">lock</i>
							Payment Information
						</div>
						<br>

					<div class="row">
						<div class="col s6">Email:
							<input id="email" type="text" ng-model="vm.event.paymentEmail">
						</div>
						<div class="center">
							<button
								ng-show="!vm.currentMap"
								ng-click="vm.saveEventDetailsWhileDesigningMap()"
								class="awesomeButton btn waves-effect waves-light"
							>
								Design Your Map
							</button>
							</div>
					</div>
					<div class="row">
						<div class="col s6 payment">
							<div class="payment-header" ng-show="vm.currentMap">
								<i class="material-icons header-icon">place</i>
								Your Map
							</div>
							<br>
							<div class="map" ng-show="vm.currentMap">
								<map map="vm.currentMap"></map>
							</div>
						</div>
					</div>

							<!-- <form stripe-form="stripeCallback" name="checkoutForm">

                                            <div class = "col s5">
                                <input validate id="card" ng-model="number" placeholder="Card Number" name="card" payments-format="card" payments-validate="card" />
                                            </div>

                                            <div class = "col s4">
                                <input validate id="expiry" ng-model="expiry" placeholder="Expiration" name="expiry" payments-format="expiry" payments-validate="expiry" />
                                            </div>

                                            <div class = "col s2">
                                                <input validate id="cvc" ng-model="cvc" placeholder="CVC" name="cvc" payments-format="cvc" payments-validate="cvc" />
                                            </div>

                            </form> -->

					</div>

					<div class="center">
						<button class="btn create-event-button" type="submit"
								ng-click="vm.createEvent()">
							Create Event
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
