@import '../../styles/colors';

#createEvent {

		.side-nav-space {
			 margin-left: 350px;
		}
		.new-map {
			position: relative;
			left: -50px;
			width: 106.5%;
		}
		@media ( max-width:600px ) and (min-width: 300px)  {
			 .side-nav-space {
					 margin-left: auto;
					 margin-right: auto;
			 }
		}
		.payment-header {
			// background-color: $primary-gray;
			// color: white;
			// padding-left: 5%;
			// padding-right: 5%;
			// height: 50%;
			// text-align: center;
			// width: 100%;
			// border: 1px solid $primary-gray;
		  // padding-bottom: 1%;
			// padding-top: 0;
			// margin: 0 auto;

			.header-icon {
				position: relative;
				top: 6px;
				left: 0px;
				margin-bottom: 5%;
				margin-top: 2%;
			}
		}
		.divider {
		 position: relative;
		 width: 96.5%;
		 right: 1.5%;
		 height: 1px;
		 background-color: $secondary-gray;
		 border: $secondary-gray;
		}
		.create-event-button {
			background-color: $primary-orange;
			margin: 10%;
		}
		h4 {
 		 margin-top: 8%;
 		 margin-bottom: 5%;
 	 }
 	 #company-title {
 		 margin-top: 5%;
 	 }
}
