<div>
	<side-nav admin-panel="true"></side-nav>
	<div class = "side-nav-space">
	<div class="row">

		<div class="col s10">
			<h4>Create your Market/Event</h4>

			<div>
				Name: *
				<input type="text" ng-model="marketName">
			</div>

			<div>
				City: *
				<input type="text" ng-model="city">
			</div>

			<div>
				State: *
				<input type="text" ng-model="state">
			</div>

			<div>
				Payment Information: *
				<input type="text">
			</div>

			<div class="center">
				<button class="btn blue" ng-click="createEvent()">Create Event</button>
			</div>

		</div>

		<div class="col s12">
			<p>*This information can be changed in your account afterward.</p>
		</div>
</div>
</div>
