.side-nav-space {
	 margin-left: 350px;
}
@media ( max-width:600px ) and (min-width: 300px)  {
	 .side-nav-space {
			 margin-left: auto;
			 margin-right: auto;
	 }
}
.payment {
	
	.lock {
		position: relative;
		top: 4px;
	}
}
