<div id="currentMap"
	 class="{{ map.mapType }}"
	 style="background: url( {{ map.mapImage }} );background-size: contain;background-repeat:no-repeat;"
>


	<div ng-repeat="spot in map.spots">
		<a ng-click="vm.buySpot( spot )">
			<div style="position:absolute;background-color:{{spot.color}};left:{{spot.left}};top:{{spot.top}};width:{{spot.width}};height:{{spot.height}}"
				class="{{spot.type}} spot"
			>
				<p class="spotPrice"><span id="dollar">$</span>{{spot.price}}</p>
			</div>
		</a>
	</div>



</div>
