@import '../../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Heebo:100);

#currentMap {
	overflow: visible;
	position: relative;
	margin-top: 25px;
	outline: 1px solid black;
	outline-offset: 1px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 60px;
	.circle {
		border-radius: 50%;
	}
	.spotPrice {
		color: white;
		font-size: 20px;
		text-align: center;
		vertical-align: center;
		position: relative;
		bottom: 5px;
		z-index: 500;
		font-family: 'Heebo', sans-serif;

		a {
			overflow: visible;
		}


			.picker__table {
				overflow: visible;
				background-color: white;
				z-index: 20;
			}

			tr {
				background-color: white;
			}

			#calendar_table {
				border: black 2px solid;
			}


			.picker__date-display {
				background-color: $primary-gray;
			}

			.picker__day--disabled {
				border-radius: 100%;
		  		background:rgb(139, 51, 51);
				text-decoration: line-through;
			}

			.picker__weekday-display {
				  background-color: $primary-gray;
				}


	}
	#dollar {
		font-size: 15px;
		position: relative;
		bottom: 3px;
	}
	.spot {
		cursor: pointer;
	}
	div a div:hover {
		opacity: .8;
	}
	.outside-map, .payment {
		margin-top: 25%;
		button {
			background-color: $primary-gray;
			margin-top: 25%;
			padding: 10px 20px;
			color: white;
			border-radius: 8px;
			border: none;
			font: 14px/23px 'Heebo', serif;
			font-size: 25px;
			text-transform: uppercase;
		}
		button:hover {
			text-decoration: none;
			background-color: $secondary-gray;
		}
	}
}


.small {
	width: 450px;
	height: 450px;
}

.medium {
	width: 600px;
	height: 600px;
}

.large {
	width: 750px;
	height: 750px;
}
