<div id="editEvent">
		<side-nav admin-panel="true"></side-nav>
		<div class = "side-nav-space">
			<new-map class="new-map" ng-hide="!vm.map"></new-map>

<form name="editEventForm" ng-hide="vm.map">
		<div class="create-event-wrapper row">
			<div class="col s10">
				<h4 id="company-title"><i class="material-icons">event_seat</i> Edit your Event<hr class= "divider"></h4>

				<div class="row">
				<div class="col s6">
					Title:
					<input type="text" id="eventTitle" ng-model="eventTitle">
				</div>
				</div>

				<div class="col s12">
					Bio:
					<textarea class="materialize-textarea" id="bio" ng-model="bio"></textarea>
				</div>

				<div class="col s6">
					City:
					<input type="text" id="city" ng-model="city">
				</div>

				<div class="col s6">
					State:
					<input type="text" id="state" ng-model="state">
				</div>


					<div class="col s12 payment">
						<div class="payment-header">
						<i class="material-icons header-icon">lock</i>
					Payment Information</div><br>

							<div class="col s6">Email: <input type="text" id="email" ng-model="paymentEmail"></div>
	    </div>

			<div class="col s12 payment">
				<div class="payment-header">
				<i class="material-icons header-icon">place</i>
			Your Map</div><br>
			<button ng-click="vm.toggleMap()">Design Your Map</button>

				</form>

				<div class="center save-button">
					<button class="btn orange create-event-button" ng-click="vm.editEvent( eventTitle, bio, city, state, paymentEmail )" ng-if="!editEventForm.$pristine">Save Changes</button>
				</div>

			</div>
	</div>

	</div>

</div>
