<div id="findEvent">
	<navbar></navbar>
		<div class="container">
			<div class="row">
				<div class="col s12 m8 offset-m2">
					<h3 class="center">Search event in your area!</h3>
					<div class="input-field col s6">
          				<input id="location" type="text" class="validate">
          				<label for="location">Location</label>
        			</div>
					<div class="input-field col s6">
          				<input id="title" type="text" class="validate">
          				<label for="title">Title</label>
        			</div>
					<a class="waves-effect waves-light btn col s4 offset-s4">Search</a>
				</div>
			</div>

			<div class="row">
				<ul class="collapsible col s12 m8 offset-m2" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							Provo
						</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut, beatae cumque deserunt dicta doloremque enim et fugit ipsa iure magni maxime nemo nesciunt odio perspiciatis quam qui sapiente vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, asperiores beatae cumque dicta dolorem enim error et, facilis fuga hic mollitia nam officia possimus quo quos repellat sed ut voluptatem.</p>
						</div>
					</li>
				</ul>
			</div>

		</div>
</div>
