#findEvent {
}
.MktInfo {
    margin-right: 10%;
    display: inline-block;
    text-justify: newspaper;
}
.collapsible-centering {
    text-align: justify;
    
}
.MktPic {
   float: right;
}
img {
    float: right;
    max-height: 50px;
    max-width: 45px;
    margin-top: 3px;
}