#userHome {

}
.UserHomeContainer {
	margin-top: 50px;
}

@media ( max-width:600px ) and (min-width: 300px)  {
    .UserHomeContainer {
        margin-left: auto;
        margin-right: auto;
    }
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);