#transactionHistory {

}
.transactionContainer {
    margin-top: 50px;
    margin-left: 300px;
}

@media ( max-width:600px ) and (min-width: 300px)  {
    .transactionContainer {
        margin-left: auto;
        margin-right: auto;
    }
}

