@import '../../styles/colors';

.sideNav {
	.sideNav-top {
		background-color: $primary-gray;
		.sideNav-hamb {
			margin-left: 15px;
		}
		.sideNav-logo {
			height: 50px;
			margin-top: 3px;
		}
	}

	.admin-ribbon {
		width: 200px;
	 padding: 3px;
	 position: absolute;
	 text-align: center;
	 color: #f0f0f0;
	}
	.ar-sticky {
		position: fixed;
		top: 25px;
		left: -50px;
		transform: rotate( -45deg );
		background-color: $primary-orange;
	}

	.sideNav-side {
		background-color: $primary-gray;
		.sideNav-logo-mobile-container {
			margin: 50px;
			padding: 0;
			.sideNav-logo-mobile {
				width: 200px;
				border-radius: 100%;
			}
		}
		.sideNav-item {
			.nav-items-mobile {
				cursor: pointer;
				font-size: 21px;
				color: white;
			}
			i {
				color: white;
			}
		}
	}
}
//.active {
//	background-color: blue !important;
//	height: 500px !important;
//}

@media screen and ( min-width: 600px ) {
	.sideNav {
		.sideNav-side {
			transform: translateX( 0% ) !important;
		}
	}
}
