@import '../../styles/colors';

nav {
   background-color: $primary-gray !important;
   .nav-wrapper {
       .brand-logo img {
           height: 50px;
       }
   }
}
.brand-logo {
	width: 100px;
}
