@import "../../styles/colors";
@import "../../styles/globalStyles";
@import url(https://fonts.googleapis.com/css?family=Heebo:100);

#newMap {
	input#spotColor {
		width: 100%;
		height: 45px;
		border: none !important;
		margin: 0 !important;
		background-color: transparent;
	}
	#spotColor:hover {
		cursor: pointer;
		text-decoration: none;
	}

	.divider {
	 position: relative;
	 width: 96.5%;
	 right: 1.5%;
	 height: 1px;
	 background-color: $secondary-gray;
	 border: $secondary-gray;
	}
	.new-map-title{
		h4 {
	 	margin-top: 8%;
	 	margin-bottom: 5%;
		font-size: 20px;
 		}
	}
 #company-title {
	 margin-top: 5%;
 }
	.title {
		text-transform: uppercase;
		font-size: 28px;
	}
	.newmap-nav {
		padding-left: 5%;
		font-family: 'Heebo', sans-serif;
		background-color: white !important;
		margin-left: -50px;
		width: 120%;
	}
	.addType {
		margin-bottom: 20px;
	}
	.breadcrumb {
		cursor: pointer;
		// color: rgba(255, 255, 255, 0.7);
		color: #777777;

	}
	.activeBreadcrumb {
		color: black;
		font-weight: 900;
	}
	.breadcrumb:before {
		color: #777777;
	}
	#stepOne {
		.imageUpload {
			position: relative;
			top: 8px;
		}
		div select {
			position: relative;
			top: 3px;
		}
		.row {
			.add-spot-button {
				margin-left: 5%;
				margin-top: 24px;
				position: relative;
				left: 100px;
			}
		}
	}
	#stepTwo {
		form .row button {
			margin-left: 50px;
			margin-top: 18px;
		}
	}
.collection {
	border: none;
	width: 65%;
}
	.collection-item.avatar {
		padding-left: 20px;
		padding-top: 15px;
		background-color: transparent;
		width: 80%;
		border: none;
		.addBox {
			float: right;
			font-size: 50px;
			color: black;
			cursor: pointer;
		}
		.square {
			width: 40px;
			height: 40px;
			border: 1px solid black;
			display: inline-block;
		}
		.circle {
			display: inline-block;
			width: 40px;
			height: 40px;
			border: 1px solid black;
			border-radius: 25px;
			margin-left: 15px;
		}
		.spotTypeContainer {
			margin-top: 12px;
			font-family: 'Heebo', sans-serif;
			font-weight: bold;
			.spotTypeName, .spotTypePrice {
				margin-left: 10px;
				font-size: 1.5em;
			}
		}
	}
	.previousBtn {
		margin-left: 30px;
		position: fixed;
		bottom: 0;
		left: 300px;
		margin-bottom: 25px;
	}
	.nextBtn {
		margin-left: 30px;
		float: right;
	}
	.finalMapContainer {
		.confirmBtn {
			position: fixed;
			bottom: 0;
			right: 25px;
			margin-bottom: 25px;
		}
	}
	.previousnextContainer {
		position: fixed;
		bottom: 0;
		right: 0;
		margin-bottom: 25px;
		margin-right: 25px;
	}

	.mapContainer {
		#map {
			position: relative;
			margin-top: 25px;
			outline: 1px solid black;
			outline-offset: 1px;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-bottom: 60px;
			.box {
				width: 60px;
				height: 60px;
				position: absolute;
			}
			.box.circle {
				border-radius: 50%;
			}
		}
		.small {
			width: 450px;
			height: 450px;
		}
		.medium {
			width: 600px;
			height: 600px;
		}
		.large {
			width: 750px;
			height: 750px;
		}
	}

	.newMapForm {
		text-align: center;
	}

	.spotNumber {
		color: white;
		font-size: 20px;
		font-family: 'Heebo', sans-serif;
	}
	.newMap {
		margin-left: 350px;
	}
}
select {
	display: block;
}
