<div id="newMap">
	<side-nav admin-panel="true"></side-nav>
	<div class="newMap row">

		<nav class="newmap-nav">
			<div class="nav-wrapper">
				<div class="col s12">
					<a ng-click="vm.step(1)"
					   ng-class="vm.currentStep === 1 ? 'activeBreadcrumb' : ''"
					   class="breadcrumb">
						Map Settings
					</a>
					<a ng-click="vm.step(2)"
					   ng-class="vm.currentStep === 2 ? 'activeBreadcrumb' : ''"
					   class="breadcrumb">
						Spots
					</a>
					<a ng-click="vm.step(3)"
					   ng-class="vm.currentStep === 3 ? 'activeBreadcrumb' : ''"
					   class="breadcrumb">
						Confirm
					</a>
				</div>
			</div>
		</nav>

		<div class="col s8 offset-s2" ng-show="vm.currentStep === 1">
			<step-one></step-one>
		</div>

		<div class="col s8 offset-s2" ng-show="vm.currentStep === 2">
			<step-two></step-two>
		</div>

		<div class="col s8 offset-s2" ng-if="vm.currentStep === 3">
			<step-three></step-three>
		</div>

		<!--MAP-->
		<div class="col s12 center mapContainer" ng-show="vm.currentStep < 3">

			<div ng-class="vm.mapSize ? vm.mapSize : ''"
				 class="center"
				 style="background:url( {{ vm.mapImage }} );background-size: contain;"
				 id="map"
			></div>

		</div>

		<button
			class="awesomeButton previousBtn center waves-effect waves-light btn"
			ng-click="vm.previous()"
		>
			Previous
		</button>

		<!--Bottom BTNS-->
		<div class="previousnextContainer">
			<button
				class="awesomeButton nextBtn center waves-effect waves-light btn"
				ng-click="vm.next()"
			>
				Next
			</button>
		</div>

	</div>
</div>
