<div id="calendarDir">
	<input
	input-date
	type="text"
	name="open"
	id="calendar"
	ng-model="date"
	container=""
	placeholder="{{ vm.minDate | date }}"
	format="mm/dd/yyyy"
	months-full="{{ vm.month }}"
	months-short="{{ vm.monthShort }}"
	weekdays-full="{{ vm.weekdaysFull }}"
	weekdays-short="{{ vm.weekdaysShort }}"
	weekdays-letter="{{ vm.weekdaysLetter }}"
	disable="vm.disable"
	min="{{ vm.minDate }}"
	max="{{ vm.maxDate }}"
	today="vm.today"
	clear="vm.clear"
	close="vm.close"
	select-years="2"
	on-start="vm.onStart()"
	on-render="vm.onRender()"
	on-open="vm.onOpen()"
	on-close="vm.onClose()"
	on-set="vm.onSet()"
	on-stop="vm.onStop()" />

	<ul class="collapsible" data-collapsible="accordion">

		   <li>
			 <div class="collapsible-header"><i class="material-icons">today</i>Monday</div>
			 <div class="collapsible-body">
				 <p>Hours of Operation:</p>
			 </div>
		   </li>

		   <li>
			 <div class="collapsible-header"><i class="material-icons">today</i>Tuesday</div>
			 <div class="collapsible-body">
				 <p>Hours of Operation:</p>
			 </div>
		   </li>

		   <li>
			 <div class="collapsible-header"><i class="material-icons">today</i>Thursday</div>
			 <div class="collapsible-body">
				 <p>Hours of Operation:</p>
			 </div>
		   </li>

		   <li>
		  <div class="collapsible-header"><i class="material-icons">today</i>Friday</div>
		  <div class="collapsible-body">
			  <p>Hours of Operation:</p>
		  </div>
		   </li>

		   <li>
		  <div class="collapsible-header"><i class="material-icons">today</i>Saturday</div>
		  <div class="collapsible-body">
			  <p>Hours of Operation:</p>
		  </div>
		   </li>

		   <li>
		  <div class="collapsible-header"><i class="material-icons">today</i>Sunday</div>
		  <div class="collapsible-body">
			  <p>Hours of Operation:</p>
		  </div>
		   </li>

	 </ul>

</div>
