#logout {
	button {
		border-radius: 2.5px;
		background-color: transparent;
		color: #383838;
		border: 1px solid #383838;
		position: relative;
		left: 80%;
		margin-top: 2.5%;
		transition-duration: .5s;
	}
	button:hover {
		background-color: #383838;
		border: 1px solid #383838;
		color: white;
		border-radius: 2.5px;
	}
	.profile-pic {
		border-radius: 100%;
		height: 55px;
		width: 55px;
		position: relative;
		left: 82%;
		top: 22px;
		margin-right: 5%;
		transition-duration: .3s;
	}
	.profile-pic:hover {
		transform: scale( 1.08 );
	}
}
